/* App structure styling */

body {
  background-color: #eee;
}

.container {
  width: 810px;
  height: auto;
  padding: 18px 40px;
  margin: 20px auto 0px;
  border: solid #d7d7d7 1px;
  background-color: #fff;
  color: #4d4d4d;
}

.container label {
  display: block;
}

.container .input-wrapper {
  margin: 8px 0px;
}

.container .field-label {
  font-size: 14px;
  display: block;
  font-weight: bold;
}

div.viz {
  margin-bottom: 42px;
}

div.page-footer {
  width: 380px;
  margin: 0 auto 26px;
  font-size: 12px;
}

div.page-footer ul {
  list-style-type: none;
}

div.page-footer li {
  padding: 2px 10px;
  float: left;
}

div.page-footer li:first-child {
  border-right: solid #4d4d4d 1px;
}


/* Tooltip-related styling */

h2.has-more-info {
  float: left;
}

a.tooltip img {
  margin: 1.6em 4px 0 12px;
}

div.tooltip {
  color: #fff;
  background-color: #4d4d4d;
  padding: 5px;
  font-size: 12px;
  max-width: 130px;
  text-align: left;
  margin-top: 12px;
}

/* Form styling */

form div.section {
  margin: 0;
  border-bottom: solid #f0f0f0 1px;
  padding:10px 0;
}

form input[type=submit] {
  margin-top: 16px;
}

form .radio-wrapper {
  display: block;
  margin-bottom:5px;
}

form [type='radio'] {
  margin-right: 6px;
}

form tr.header td {
  font-weight: bold;
  padding-bottom: 6px;
  border-bottom: dashed #f0f0f0 1px;
}

form tr.inactive td {
  color: #d7d7d7;
}

form tr td {
  padding: 8px;
}

td.info-column {
  text-align: center;
}

form select {
  min-width:200px;
}

form div.medications select {
  min-width: 120px;
}

/* Medication input styling */

div.section.medications {
  margin-bottom:20px;
}

div.medications input[type="text"] {
  width: 83%;
  min-width: 40px;
}

div.medications input[type="number"] {
  width: 20%;
  min-width: 40px;
}

/* align input elements inside each td */ 
div.medications tr td {
  text-align: left;
  padding: 8px 8px 4px 0;
}

/* Medication recommendation styling */

div.medication {
  width: 380px;
  float: left;
}

div.medication ul {
  list-style-type: none;
  padding-left: 0;
}

div.medication lh {
  border-bottom: solid #d7d7d7 1px;
  margin-bottom: 6px;
  display: block;
  font-weight: bold;
}

div.medication li lh {
  margin-top:18px;
  border-bottom: none;
}

div.medication h3 {
  margin-bottom: 6px;
}

div.medication ul li {
  margin-bottom: 8px;
  display: block;
  clear:both;
}

div.medication ul span.med-name {
  float: left;
}

div.inline-info {
  font-size: 14px;
}

.left {
  float: left;
}

.right {
  float: right;
  text-align: right;
}

div.inline-info span {
  display: block;
}

div.inline-info span.dose{
  display: inline;
}

div.medication ul.single li div.med-name,
div.medication ul.multi ul li .med-name {
  padding: 6px;
}

div.medication ul.multi li.med-class:first-child lh {
  margin-top: 0;
}

div.medication .med-details {
  font-size: 14px;
  border: solid #eee 1px;
  margin-top:5px;
  padding: 10px 5px;
}

div span.label {
  font-weight: bold;
  display: inline;
}

div.medication ul.single div.med-name:nth-child(even),
div.medication ul.multi ul li:nth-child(even) .med-name {
  background-color: #f0f0f0;
}

div.medication li .med-name {
  cursor: pointer;
}

div.med-details {
  background-color: #fff;
}

.rx-status {
  width: 20px;
  height: 16px;
  background-repeat: none;
  display: inline-block;
  margin-bottom: -1px;
}

.expanded {
  background-image: url(../img/contract.gif);
}

.contracted {
  background-image: url(../img/expand.gif);
}

.rx-error {
  background-image: url(../img/error.gif);
}

.top-div {
  width: 75%;
  margin-right: 18px;
  padding: 18px;
  margin: 0 auto;
}

/* Patient status message  */

.patient-status {
  border: solid #d7d7d7 1px;
  border-radius: 3px;
}

.Good {
  background-color: #dff0d8;
  color: #3c763d;
}

.Okay {
  background-color: #fcf8e3;
  color: #8a6d3b;
}

.Danger {
  background-color: #f2dede;
  color: #a94442;
}


/* Current vs. target BP comparison styling */

div.bp-goal-comparison {
  float: left;
  margin-left: 50px;
}

div.footer {
  clear:both;
  width: 90%;
  margin-top: 25px;
}

div.bp-goal-comparison td {
  padding: 16px 0;
  font-size: 18px;
  font-weight: bold;
}

/* Table cell in first column of each row */
div.bp-goal-comparison td:nth-child(1) {
  font-size: 14px;
  font-weight: bold;
}

.bp-goal-comparison input {
  width: 50px;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button,
 { 
  -webkit-appearance: none; 
  margin: 0; 
}

tr.header td {
  padding: 0px 0 6px 0;
}

tr.info-row td {
  padding: 8px 0;
}

tr.systolic td.current {
  background-color: rgba(70, 130, 180, 1);
}

td.info-column.current {
  text-align: left;
  padding-left: 18px;
  color: #fff;
}

tr.systolic td.goal {
  background-color: rgba(70, 130, 180, 0.5);
}

tr.diastolic td.current {
  background-color: rgba(255, 0, 0, 1);
}

tr.diastolic td.goal {
  background-color: rgba(255, 0, 0, 0.5);
}

/* Graph styling */

#bp-graph path {
  stroke-width: 3px;
  fill: none;
}

#bp-graph line.targetLine {
  stroke-opacity: 0.5;
  stroke-width:1px;
}

#bp-graph .diasLine {
  stroke: red;
}

#bp-graph .sysLine {

  stroke: steelblue;
}

#bp-graph .axis {
  shape-rendering: crispEdges;
}

#bp-graph .axis line, 
#bp-graph .axis path {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

#bp-graph path.domain {
  fill: none;
}

bp-graph {
  height:250px;
  display: block;
}

/* Typography and coloring */

h1 {
  color: #2C3E50;
  font-weight: bold;
}


p.loading {
  font-size: 18px;
  text-align: center;
}

img.loading {
  width: 100px;
  margin: 26px auto;
  display: block;
}

a {
  font-size: 12px;
  color: #606D7B;
}

/* Form validation */

.data-form input.ng-invalid.ng-dirty {
  background-color: #FA787E;
}

.data-form input.ng-valid.ng-dirty {
  background-color: #78FA89;
}

.submit-button { 
  opacity: 1;
}

.submit-button[disabled] { 
  opacity: .5;
}

/* Micro clearfix */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


/* For mobile and small screens */

@media screen and (max-width: 500px) {
  .container {
    width: 380px;
  }

  div.bp-goal-comparison {
    margin-left: 0;
  }

}
