/* App structure styling */

body {
  background-color: #eee;
}

.container {
  width: 80%;
  max-width: 1350px;
  min-width: 400px;
  height: auto;
  padding: 18px;
  margin: 50px auto;
  border: solid #d7d7d7 1px;
  background-color: #fff;
}

.container label {
  display: block;
}

.container .input-wrapper {
  margin: 8px 0px;
}

.container .field-label {
  font-size: 12px;
  display: block;
  font-weight: bold;
}


/* Menu styling */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


/* Form styling */

form section {
  margin: 0;
  border-bottom: solid #f0f0f0 1px;
  padding:10px 0;
}

form input[type=submit] {
  margin-top: 16px;
}

form .radio-wrapper {
  display: block;
  margin-bottom:5px;
}

form [type='radio'] {
  margin-right: 6px;
}

form tr.header td {
  font-weight: bold;
  padding-bottom: 6px;
  border-bottom: dashed #f0f0f0 1px;
}

form tr.inactive td {
  color: #d7d7d7;
}

form tr td {
  padding: 8px;
}

td.info-column {
  text-align: center;
}

form select {
  min-width:200px;
}


/* Data visualization styling */
div.patient-status {
  width: 70%;
  padding: 18px;
  margin: 0 auto 18px;
  border: solid #d7d7d7 1px;
  border-radius: 3px;
}

.good {
  background-color: #dff0d8;
  color: #3c763d;
}

.okay {
  background-color: #fcf8e3;
  color: #8a6d3b;
}

.bad {
  background-color: #f2dede;
  color: #a94442;
}

section.bp-goal-comparison td {
  padding: 16px 0;
  font-size: 18px;
  font-weight: bold;
}

section.bp-goal-comparison td:nth-child(1) {
  font-size: 14px;
  font-weight: normal;
}

.bp-goal-comparison input {
  width: 50px;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button,
 { 
  -webkit-appearance: none; 
  margin: 0; 
}

tr.header td {
  padding: 0px 0 6px 0;
}

tr.info-row td {
  padding: 12px 0;
}

tr.current td.systolic {
  background-color: rgba(70, 130, 180, 1);
}

tr.current td {
  text-align: left;
  padding-left: 12px;
}

tr.goal td.systolic {
  background-color: rgba(70, 130, 180, 0.5);
}

tr.current td.diastolic {
  background-color: rgba(255, 0, 0, 1);
}

tr.goal td.diastolic {
  background-color: rgba(255, 0, 0, 0.5);
}

/* Graph styling */

#bp-graph path {
  stroke-width: 3px;
  fill: none;
}

#bp-graph path.targetLine {
  stroke-opacity: 0.5;
  stroke-width:1px;
}

#bp-graph path.diasLine {
  stroke: red;
}

#bp-graph path.sysLine {
  stroke: steelblue;
}

#bp-graph .axis {
  shape-rendering: crispEdges;
}

#bp-graph .axis line, 
#bp-graph .axis path {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

#bp-graph path.domain {
  fill: none;
}

bp-graph {
  height:450px;
  display: block;
}

/* Typography and coloring */

h1 {
  color: #2C3E50;
  font-weight: bold;
}

p.loading {
  font-size: 18px;
  text-align: center;
}

img.loading {
  width: 100px;
  margin: 26px auto;
  display: block;
}


/* Form validation */

.data-form input.ng-invalid.ng-dirty {
  background-color: #FA787E;
}

.data-form input.ng-valid.ng-dirty {
  background-color: #78FA89;
}

.submit-button { 
  opacity: 1;
}

.submit-button[disabled] { 
  opacity: .5;
}
