<img src="img/moxe-logo.jpg" class="logo">

<p>This application is a high blood pressure (hypertension) treatment calculator and visualizer based on the <a href="http://jama.jamanetwork.com/article.aspx?articleid=1791497">JNC8 guidelines</a>. It's intended to be an interactive educational experience through which a doctor can lead his or her patient during a visit.</p>

<p>The development of the application was sponsored by <a href="http://moxehealth.com">Moxe Health</a>, a <a href="http://rockhealth.com/">Rock Health</a> company. The application was primarily developed on top of Moxe Health's EHR integration service, Substrate, which allowed us to write software for a single, simple data structure and have it accept any format of EHR.</p> 

M0xeH3alth!!