
<div class="cf viz">
  <h2>Treatment overview</h2>
  <div class="top-div patient-status good">
    <b class="title">Good:</b> Patient has met the blood pressure goal and the treatment should continue.
  </div>
  <div class="top-div rec-message">Recommendation: {{ recommendationMsg }}</div>
</div>

<div class="medication">
  <h2>Medication</h2>
  <ul>
    <lh><h3>Patient's current medications</h3></lh>
    <li class="cf">
      <span class="med-name">acebutolol (Sectra)</span>
      <div class="dosage">
        <span class="quantity">40 mg</span>
        <span class="frequency">Twice daily</span>
      </div>
    </li>
    <li class="cf">
      <span class="med-name">acebutolol (Sectra)</span>
      <div class="dosage">
        <span class="quantity">40 mg</span>
        <span class="frequency">Twice daily</span>
      </div>
    </li>
  </ul>
  <ul>
    <lh><h3>Suggested additional medications</h3></lh>
    <li class="cf">
      <ul class="med-class" ng-repeat="medRec in medRecs">
        <lh>{{ medRec.medClass }}</lh>
        <li class="cf" ng-repeat="med in medRec.meds" ng-init="showDetails=false" ng-click="showDetails = !showDetails">
          <div class="med-name">{{med}}</div>
          <div class="med-details" ng-show="showDetails">
            <ul>
              <li class="med-detail">Dosage: 40</li>
              <li class="med-detail">Units: 40</li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="bp-goal-comparison">
  <h2>Blood pressure</h2>
  <div class="table-contain">
    <table width="300">
      <tr class="header">
        <td>&nbsp;</td>
        <td class="info-column" width="35%" height="15">
            <span class="field-label">Current Blood Pressure:</span>
        </td>
        <td class="info-column" width="35%" height="15">
            <span class="field-label">Goal Blood Pressure:</span>
        </td>
      </tr>
      <tr class="info-row systolic">
        <td>Systolic:</td>
        <td class="info-column current">{{ pt.currentBP.Systolic }}</td>
        <td class="info-column goal" width="35%">
            <input type="number" ng-model="targetSys" id="goal-systolic">
        </td>
      </tr>
      <tr class="info-row diastolic">
        <td>Diastolic:</td>
        <td class="info-column current">{{ pt.currentBP.Diastolic }}</td>
        <td class="info-column goal" width="35%">
            <input type="number" id="goal-diastolic" ng-model="targetDias">
        </td>
      </tr>
    </table>
  </div>
  <div>
    <bp-graph data="dbData" target-sys="targetSys" target-dias="targetDias"></bp-graph>
  </div>
</div>


<div class="footer">
  <button>Save patient information</button>
</div>

