<form name="dataForm" class="data-form" novalidate ng-model="dataForm">
  <section>
    <label for="age">Patient's age:</label>
    <div class="input-wrapper">
      <input type="number" ng-model="pt.age" id="age" required name="age" min="18" max="200" />
    </div>   
    <div ng-show="dataForm.age.$dirty && dataForm.age.$invalid">
      <span class="error" ng-show="dataForm.age.$error.required">
      Please input a number between 18-200.
      </span>
      <span class="error" ng-show="dataForm.age.$error.min || dataForm.age.$error.max">
      Number outside age range. Age must be a number between 18-200. 
      </span>
    </div> 
  </div>
  <div class="section">
    <label for="race">Patient's race:</label>
    <div class="input-wrapper">
      <select name="race" required ng-model="pt.race" ng-options="race for race in pt.races">
      <option style="display:none" value="">Select a Race</option>
      </select>
    </div>
  </div>

  <div class="section">
    <label for="blood-pressure">Patient's blood pressure:</label>
    <div class="blood-pressure" id="blood-pressure">
      <div class="input-wrapper">
        <span class="field-label">Systolic:</span>
        <input type="number" required name="systolicBP" ng-model="pt.currentBP.Systolic" id="blood-pressure-syst" min="50" max="400"/>    
      </div>
      <div ng-show="dataForm.systolicBP.$dirty && dataForm.systolicBP.$invalid">
        <span class="error" ng-show="dataForm.systolicBP.$error.required">
        Please input a number between 50-400.
        </span>
        <span class="error" ng-show="dataForm.systolicBP.$error.min || dataForm.systolicBP.$error.max">
        Number outside systolic BP range. Systolic BP must be a number between 50-400. 
        </span>
      </div> 

      <div class="input-wrapper">
        <span class="field-label">Diastolic:</span>
        <input type="number" required name="diastolicBP" ng-model="pt.currentBP.Diastolic" id="blood-pressure-diast" min="0" max="200"/>
      </div>
      <div ng-show="dataForm.diastolicBP.$dirty && dataForm.diastolicBP.$invalid">
        <span class="error" ng-show="dataForm.diastolicBP.$error.required">
        Please input a number between 0-200.
        </span>
        <span class="error" ng-show="dataForm.diastolicBP.$error.min || dataForm.diastolicBP.$error.max">
        Number outside diastolic BP range. Diastolic BP must be a number between 0-200. 
        </span>
      </div>   
    </div>
  </div>

  <div class="section">
    <label for="diabetes">Does the patient have diabetes?</label>
    <div class="input-wrapper">
      <span class="radio-wrapper">
        <input type="radio" ng-model="pt.hasDiabetes" name="diabetes" value="1"> Yes
      </span>
      <span class="radio-wrapper">
        <input type="radio" ng-model="pt.hasDiabetes" name="diabetes" value="0"> No
      </span>
    </div>
  </div>

  <div class="section">
    <label for="blood-pressure">Does the patient have CKD?</label>
    <div class="input-wrapper">
      <span class="radio-wrapper">
        <input type="radio" ng-model="pt.hasCKD" name="ckd" value="1"> Yes
      </span>
      <span class="radio-wrapper">
        <input type="radio" ng-model="pt.hasCKD" name="ckd" value="0" > No
      </span>
    </div>
  </div>

  <div class="section">
    <label for="meds">Is the patient on medication?</label>
    <div class="input-wrapper">
      <span class="radio-wrapper">
        <input type="radio" name="meds" value="1" ng-model="pt.isOnMedication"> Yes</span>
      <span class="radio-wrapper">
        <input type="radio" ng-model="pt.isOnMedication" name="meds" value="0"> No
      </span>
    </div>
  </div>

  <div class="section medications" ng-show="pt.isOnMedication">
  <table id="medications" ng-model="medications" width="100%">
      <tr class="header">
        <td width="25%">Medication</td>
        <td width="25%">Med Class</td>
        <td class="info-column" width="15%">Dose</td>
        <td class="info-column" width="20%">JNC8 target dose(s)</td>
        <td class="info-column" width="15%">Max for pt?</td>
      </tr>
      <tr class="med-entry" ng-repeat="med in pt.encounter.currentMeds">
        <td width="25%">  
          <input type="text" value="{{ med.medName }}" class="med-name" ng-disabled="!standAlone">
        </td>
        <td width="25%">
          <input type="text" value="{{ med.className }}" class="med-class-name" ng-disabled="!standAlone">
        </td>
        <td width="15%" class="info-column">
          <input type="number" value="{{ med.dose }}" class="med-dose" ng-disabled="!standAlone">
        </td>
        <td width="20%" class="info-column">
          <input type="text" value="{{ med.targetDoseRecs | numTargetDoses }} {{ med.units }}" class="med-name" ng-disabled="!standAlone">
        </td>
        <td width="15%" class="info-column">
          <input type="text" value="{{ med.atMax }}" class="med-max" ng-disabled="!standAlone">
        </td>
      </tr>

    </table>
    <button ng-if="standAlone" drugAdder >Add Another Medication</button>
  </div>
<button class="submit-button" ng-click="goToDataViz()" ng-disabled="dataForm.$invalid || !buttonsSelected() || !pt.race">Get Treatment Recommendations</button>
</form>
