<div class="patient-status good">

<b class="title">Good:</b> Patient has met the blood pressure goal and the treatment should continue.

</div>

<div>Recommendation: {{ recommendationMsg }}</div>

<section class="bp-goal-comparison">
  <table>
    <tr class="header">
      <td width="37%">&nbsp;</td>
      <td class="info-column" width="15%" height="15">
          <span class="field-label">Systolic</span>
      </td>
      <td class="info-column" width="15%" height="15">
          <span class="field-label">Diastolic</span>
      </td>
      <td class="info-column" width="27%"></td>
    </tr>
    <tr class="info-row current">
      <td>Current Blood Pressure:</td>
      <td class="info-column systolic">140</td>
      <td class="info-column diastolic">80</td>
    </tr>
    <tr class="info-row goal">
      <td width="37%">Goal Blood Pressure:</td>
      <td class="info-column systolic" width="15%">
          <input type="number" ng-model="targetSys" id="goal-systolic" value="120">
      </td>
      <td class="info-column diastolic" width="15%">
          <input type="number" id="goal-diastolic" ng-model="targetDias">
      </td>
      <td class="info-column" width="27%"></td>
    </tr>
  </table>
</section>

<section>
  <bp-graph data="dbData" target-sys="targetSys" target-dias="targetDias"></bp-graph>
</section>
<button>Save patient information</button>


