<div class="patient-status good">

<b class="title">Good:</b> Patient has met the blood pressure goal and the treatment should continue.

</div>

<div>Recommendation: {{ recommendationMsg }}</div>

<section class="bp-goal-comparison">
  <table>
    <tr>
      <td width="32%">Goal Blood Pressure:</td>
      <td class="info-column" width="20%">
        <input type="number" ng-model="targetSys" id="goal-systolic" value="120">
      </td>
      <td class="info-column" width="20%">
        <input type="number" id="goal-diastolic" ng-model="targetDias">
      </td>
      <td class="info-column" width="27%"></td>
    </tr>
    <tr>
      <td>Current Blood Pressure:</td>
      <td class="info-column">140</td>
      <td class="info-column">80</td>
    </tr>
  </table>
</section>

<section>
  <bp-graph graph-data="graphData"></bp-graph>
</section>
<button>Save patient information</button>


