<div>
  <div class="med-name" ng-init="showDetails=false" good-rx-err="false" ng-click="showDetails = !showDetails">
    <span class="rx-status contracted" ng-if="!err" ng-show="!showDetails"></span>
    <span class="rx-status expanded"  ng-if="!err" ng-show="showDetails"></span>
    <span class="rx-status rx-error right" ng-show="err" alt="There was an error getting the drug information from the GoodRx website."></span>
    <span ng-if="!med.searchError" ng-model="med.medicationName">{{med.medicationName}}</span>
    <span ng-if="med.searchError">{{med.searchError}}</span>
    <div class="inline-info price right med-detail" ng-if="!goodRxErr">{{ med.price | currency }}</div> 
    <span class="add-medication" ng-if="!med.searchError"><input class="add-med" type="checkbox" ng-model="med.addMed">Add Medication</span>
  </div> 
  <div class="med-details cf" ng-if="!goodRxErr" ng-show="showDetails">
      <div class="inline-info left">
        <span class="med-detail">
          <span class="label med-dose" ng-model="med.dose">Dose:</span> 
          <input class="dose-input" type="number" maxlength="4" value="{{ med.dose }}" ng-model="med.dose">mg
        </span>
      </div>
      <div class="inline-info right"><span class="med-detail"><a href="{{ drugInfo.url }}" target="_blank">More pricing information</a></span>
      <span class="med-detail"><a href="{{ emailsLink }}" title="Email pricing information for {{med.medicationName}}" target="_blank">Email pricing details</a></span></div>
  </div>
 
  <div class="goodRxAlts cf inline-info" ng-show="showDetails" ng-model="goodRxAlts" ng-if="goodRxErr">
    <li class="med-class cf" ng-repeat="alt in goodRxAlts" ng-click="getPricing(alt)"> {{ alt }} </li> 
  </div> 
</div>