<tr class="med-entry">
  <td width="35%">
    <input type="text" ng-model="medName" class="med-name"></td>
  <td width="25%" class="info-column">
    <input type="text" ng-model="dose" class="med-dose">
    </td>
  <td width="20%" class="info-column">
    <input type="text" ng-model="targetDoseRecs" ng-filter="numTargetDoses" class="med-name">
    <input type="text" ng-model="units" class="med-name">
  </td>
  <td width="20%" class="info-column">
    <input type="text" ng-model="atMax" class="med-max">
  </td>
</tr>