
/* App structure styling */
body {
  background-color: #eee;
}

.container {
  width: 80%;
  max-width: 1350px;
  min-width: 400px;
  height: auto;
  padding: 18px;
  margin: 50px auto;
  border: solid #d7d7d7 1px;
  background-color: #f0f0f0;
}

.container label {
  display: block; 
}

/* Typography and coloring */
h1 {
  color: #2C3E50;
  font-weight: bold;
}
